<div class="password-input-box">
  <div class="password-input-head">
    <p class="password-input-title">Enter master password</p>
    <button (click)="closePopup()" class="password-input-close">X</button>
  </div>
  <input #passwordInput type="password" />
  <div class="password-input-status-box">
    <div>
      <p class="password-input-status-text">Password status:</p>
      <p #passwordStatusTag class="password-input-status-tag">unknown</p>
    </div>
    <button class="password-input-button" (click)="login($event)">Verify</button>
  </div>
</div>
