<div #passwordInputPopup class="password-input-holder-hidden">
  <div class="password-input-box">
    <div class="password-input-head">
      <p class="password-input-title">Type master password</p>
      <button (click)="closePopup()">X</button>
    </div>
    <input #passwordInput type="password" />
    <button class="password-input-button" (click)="login($event)">Verify</button>
    <div class="password-input-status-box">
      <p class="password-input-status-text">Password status:</p>
      <p #passwordStatusTag class="password-input-status-tag">unknown</p>
    </div>
  </div>
</div>

