.password-input-holder {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(1px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.password-input-holder-hidden {
  display: none;
}
.password-input-box {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 12px;
  margin: auto;
  z-index: 3;
  background-color: white;
  border-radius: 10px;
}
.password-input-head {
  display: flex;
  flex-direction: row;
}
.password-input-title {
  font-size: xx-large;
  text-align: center;
  padding: 0;
}
.password-input-box input {
  width: 100%;
  margin: 12px 0;
}
.password-input-button {
  display: inline-block;
  outline: 0;
  appearance: none;
  padding: 0px 12px;
  margin: 12px auto;
  border: 0px solid transparent;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  background-color: rgb(9, 128, 76);
  box-shadow: rgb(19 170 82 / 40%) 0px 2px 3px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  height: 36px;
  transition: all 150ms ease-in-out 0s;
  :hover {
    color: rgb(255, 255, 255);
    background-color: rgb(17, 97, 73);
    box-shadow: rgb(19 170 82 / 40%) 0px 2px 3px, rgb(195 231 202) 0px 0px 0px 3px;
  }
}
.password-input-status-box {
  display: flex;
  flex-direction: row;
}
.password-input-status-tag {
  color: #696969;
  margin: auto 4px;
}
.password-input-status-tag-valid {
  color: #008000;
  margin: auto 4px;
}
.password-input-status-tag-invalid {
  color: #ff0000;
  margin: auto 4px;
}
