.password-input-box {
  padding: 24px;
  margin: auto;
  z-index: 3;
  background-color: white;
  border-radius: 10px;
}
.password-input-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
.password-input-close {
  border: none;
  background: none;
  cursor: pointer;
  padding: 8px;
  transform: translateY(-8px);
}
.password-input-title {
  font-size: xx-large;
  text-align: center;
  padding: 0;
  margin: 0;
}
.password-input-box input {
  width: 90%;
  margin: 12px 0;
  padding: 6px 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 4px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  :focus{
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
  }
}
.password-input-button {
  display: inline-block;
  outline: 0;
  appearance: none;
  padding: 0 12px;
  margin: 12px 4px;
  border: 0 solid transparent;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  background-color: rgb(9, 128, 76);
  box-shadow: rgb(19 170 82 / 40%) 0 2px 3px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  height: 36px;
  transition: all 150ms ease-in-out 0s;
  :hover {
    color: rgb(255, 255, 255);
    background-color: rgb(17, 97, 73);
    box-shadow: rgb(19 170 82 / 40%) 0 2px 3px, rgb(195 231 202) 0 0 0 3px;
  }
}
.password-input-status-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.password-input-status-box div {
  display: flex;
  flex-direction: row;
}
.password-input-status-tag {
  color: #696969;
  margin: auto 4px;
}
.password-input-status-tag-valid {
  color: #008000;
  margin: auto 4px;
}
.password-input-status-tag-invalid {
  color: #ff0000;
  margin: auto 4px;
}
