<div class="waypoint-list">
  <div class="waypoint-list-head" (click)="switchListDisplayState()">
    <p #waypointListExpand class="waypoint-list-button">+</p>
    <p #waypointListCollapse class="waypoint-list-button waypoint-list-button-hidden">-</p>
  </div>
  <div class="waypoint-list-separator"></div>
  <div #waypointList class="waypoint-list-body waypoint-list-body-collapsed">
    <p class="waypoint-list-element">Paris</p>
    <p class="waypoint-list-element">Toulon</p>
    <p class="waypoint-list-element">Lyon</p>
    <p class="waypoint-list-element">Paris</p>
    <p class="waypoint-list-element">Toulon</p>
    <p class="waypoint-list-element">Lyon</p>
    <p class="waypoint-list-element">Paris</p>
    <p class="waypoint-list-element">Toulon</p>
    <p class="waypoint-list-element">Lyon</p>
    <p class="waypoint-list-element">Paris</p>
    <p class="waypoint-list-element">Toulon</p>
    <p class="waypoint-list-element">Lyon</p>
    <p class="waypoint-list-element">Paris</p>
    <p class="waypoint-list-element">Toulon</p>
    <p class="waypoint-list-element">Lyon</p>
    <p class="waypoint-list-element">Paris</p>
    <p class="waypoint-list-element">Toulon</p>
    <p class="waypoint-list-element">Lyon</p>
    <p class="waypoint-list-element">Paris</p>
    <p class="waypoint-list-element">Toulon</p>
    <p class="waypoint-list-element">Lyon</p>
    <p class="waypoint-list-element">Paris</p>
    <p class="waypoint-list-element">Toulon</p>
    <p class="waypoint-list-element">Lyon</p>
    <p class="waypoint-list-element">Paris</p>
    <p class="waypoint-list-element">Toulon</p>
    <p class="waypoint-list-element">Lyon</p>
    <p class="waypoint-list-element">Paris</p>
    <p class="waypoint-list-element">Toulon</p>
    <p class="waypoint-list-element">Lyon</p>
    <p class="waypoint-list-element">Paris</p>
    <p class="waypoint-list-element">Toulon</p>
    <p class="waypoint-list-element">Lyon</p>
    <p class="waypoint-list-element">Paris</p>
    <p class="waypoint-list-element">Toulon</p>
    <p class="waypoint-list-element">Lyon</p>
    <p class="waypoint-list-element">Paris</p>
    <p class="waypoint-list-element">Toulon</p>
    <p class="waypoint-list-element">Lyon</p>
    <p class="waypoint-list-element">Paris</p>
    <p class="waypoint-list-element">Toulon</p>
    <p class="waypoint-list-element">Lyon</p>
    <p class="waypoint-list-element">Paris</p>
    <p class="waypoint-list-element">Toulon</p>
    <p class="waypoint-list-element">Lyon</p>
    <p class="waypoint-list-element">Paris</p>
    <p class="waypoint-list-element">Toulon</p>
    <p class="waypoint-list-element">Lyon</p>
    <p class="waypoint-list-element">Paris</p>
    <p class="waypoint-list-element">Toulon</p>
    <p class="waypoint-list-element">Lyon</p>
    <p class="waypoint-list-element">Paris</p>
    <p class="waypoint-list-element">Toulon</p>
    <p class="waypoint-list-element">Lyon</p>
  </div>
</div>
