.login {
  height: 64px;
  width: 64px;
  position: absolute;
  top: 8%;
  right: 4%;
  z-index: 1;
}
.login-hidden {
  display: none;
}
.login p{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: auto;
  font-size: x-large;
  text-align: center;
  vertical-align: middle;
  background-color: white;
  border-radius: 10px;
  line-height: 64px;
  border: black solid 1px;
  cursor: pointer;
}
