<div class="location-input-box">
  <div class="location-input-head">
    <input placeholder="Enter city to continue..." [ngModel]="searchText" (ngModelChange)="onInputChange($event)" />
    <button>X</button>
  </div>
  <div class="location-input-body">
    <div class="location-input-list">
      <ng-container #locationList>
      </ng-container>
    </div>
    <div class="location-input-preview">
      <p #staticLocationText>Select location to see the preview</p>
      <img class="location-input-preview-img" ngSrc="" #staticLocationImage />
    </div>
  </div>
  <div class="location-input-foot">
    <button class="location-input-button">Add this location</button>
  </div>
</div>
