.location-input-box {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 12px;
  border-radius: 8px;
  gap: 8px;
  min-width: 340px;
  width: 40vw;
}
.location-input-head {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: space-between;
}
.location-input-head input {
  width: 80%;
  padding: 6px 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 4px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  :focus{
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
  }
}
.location-input-close {
  border: none;
  background: none;
  cursor: pointer;
  padding: 8px;
  transform: translateY(-8px);
}
.location-input-body {
  display: flex;
  flex-direction: row;
  gap: 8px;
  min-height: 280px;
  height: 40vh;
}
.location-input-list {
  display: flex;
  flex-direction: column;
  width: 50%;
  background: #f0f0f0;
  border-radius: 8px;
  gap: 8px;
  overflow-y: auto;
  padding: 8px;
  max-height: 100%;
  border: 1px solid #f0f0f0;
}
.location-input-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
  width: 50%;
  height: 100%;
  overflow: hidden;
  border-radius: 8px;
}
.location-input-preview-hidden {
  display: none;
}
.location-input-button {
  display: inline-block;
  outline: 0;
  appearance: none;
  padding: 0 12px;
  border: 0 solid transparent;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  background-color: rgb(9, 128, 76);
  box-shadow: rgb(19 170 82 / 40%) 0 2px 3px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  height: 36px;
  transition: all 150ms ease-in-out 0s;
  :hover {
    color: rgb(255, 255, 255);
    background-color: rgb(17, 97, 73);
    box-shadow: rgb(19 170 82 / 40%) 0 2px 3px, rgb(195 231 202) 0 0 0 3px;
  }
}
.location-input-foot {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
