.location-input-item {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-radius: 8px;
  padding: 8px 12px;
  cursor: pointer;
}
.location-input-item-selected {
  display: flex;
  flex-direction: column;
  background: #f3faff;
  border-radius: 8px;
  padding: 8px 12px;
  cursor: pointer;
  border: 1px solid #64b5f6;
}
.location-input-item-title {
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.location-input-item-description {
  color: #5f5f5f;
  margin: 0;
  padding: 0;
}
